* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "averta cy w10";
}

html,
body {
  width: 100%;
  /* height: 100%; */
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}

textarea {
  resize: none;
  background-color: orange;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  font-weight: 700;
  font-size: 19px;
}

.btn {
  padding: 5px 10px;
  background-color: orange;
  color: black;
  border-radius: 5px;
  border: 2px solid black;
  margin: 10px 0px;
  cursor: pointer;
  font-size: 20px;
  width: 120px;
}

.note-container {
  width: 72%;
  padding: 10px;
}

.note {
  width: 60%;
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 5px;
  line-height: 25px;
}

.view-btn {
  border: 0;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px;
  margin: 10px 0px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 9999;
}

.detail-container {
  width: 80%;
  margin: 50px auto;
  background-color: black;
  color: white;
  padding: 16px;
}

i {
  position: absolute;
  left: 88%;
  top: 46%;
  font-size: 20px;
  cursor: pointer;
}
